<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Table Extractor</title>
        <link rel="stylesheet" href="/static/style.css">
        <script>
            function loading(){
                document.getElementById("load").innerHTML="loading...";
            }
        </script>
    </head>
    <body>
        
        <h1>Table Extractor</h1>
        
        <form method="POST" enctype="multipart/form-data">
            <div>
                <label for="file">File:</label>
                <input type="file" id="file" name="file">
            </div>
            <label>Type:</label>
    
            <select name="Type" id="Type">
                <option value="table">Table</option>
                <option value="sale_order">Sale order (bangkok clothier)</option>
                <option value="invoice">Invoice (vertex trading)</option>
                <option value="receipt">Receipt (vertex trading)</option>  
            </select>
            <button onclick="loading()" name="summit_button">Summit</button>
            <p id="load"></p>
            
        </form>
        
        {% for filename in files %}
        <a href="{{ url_for('download_file', filename=filename) }}">{{ filename }}</a><br />
        {% endfor %}
    </body>
</html>
